<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Home</title>
</head>
<body style="height: 100vh;background-color: rgb(230, 227, 227);">
    <!--Navbar-->
    <ul class="nav justify-content-center bg-dark nav-fill" style="padding: 0.5em; padding-top: 1em;">
      <li class="nav-item">
        <p class="text-white" style="padding: .5rem 1rem; margin-bottom: 0; font-weight: 700; font-family: 'Yaldevi';">CUTSY</p>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://github.com/HizkiaHalim/Cutsy">Github</a>
      </li>
  </ul>
    <!--Blabla-->
    <p style="text-align: center; padding: 1.5em; font-family: 'Yaldevi'; font-size: 1.5em; font-weight: 700;">Shorten your url with <span style="color: red;">Cutsy</span></p>
    <!--Form-->
    <form style="padding: 1em; font-family: 'Yaldevi';" method="POST" action="/shorting">
      <div class="form-group">
        <label for="longurl" style="margin-bottom: 1em; font-weight: 600;">Full Link</label>
        <input name="longurl" type="url" class="form-control" id="longurl"  placeholder="Enter full link" required>
        
      </div>
      <button type="submit" class="btn btn-dark text-white" style="margin-top: 1em;">Shorten</button>
    </form>
    <p style="margin: 1.5em;">
      How to use:
      <br>1. Enter your full URL on the textarea 
      <br>2. Press submit
      <br>3. See your new short URL on the table below and save it
      <br>4. If you want to use your short URL just add it behind Cutsy's url
      <br>example : https://cutsy.heroku.app/{insert_your_url_here}
    </p>
    <!--Table-->
    <table class="table tbale-bordered">
      <thead>
        <tr class="table-dark text-white">
          <th>Full URL</th>
          <th>ShortURL</th>
        </tr>
      </thead>
      <tbody>
        <% urllist.forEach(db =>{ %> 
          <tr>
            <td><a class="link-dark" href="<%= db.LONG_URL%>"><%= db.LONG_URL%></a></td>
            <td><a class="link-dark" href="<%= db.SHORT_URL%>"><%= db.SHORT_URL%></td>
          </tr>
          <% }) 
        %>
        
      </tbody>
    </table>
</body>
</html>